#FPGA_GCLK, 8MHz
NET "CLK" LOC = "N8" | IOSTANDARD = LVCMOS33;

#CLK_LFC, 1Hz
#NET "CLK_LFC" LOC = "N7" | IOSTANDARD = LVCMOS33;

#Push Buttons
#NET "BTN_0" LOC = "P8" | IOSTANDARD = LVCMOS33;  # BTN_0
#NET "BTN_1" LOC = "P9" | IOSTANDARD = LVCMOS33;  # BTN_1

#LEDs
#NET "LED_0" LOC = "N3" | IOSTANDARD = LVCMOS33;  # LED_0
#NET "LED_1" LOC = "P3" | IOSTANDARD = LVCMOS33;  # LED_1
#NET "LED_2" LOC = "N4" | IOSTANDARD = LVCMOS33;  # LED_2
#NET "LED_3" LOC = "P4" | IOSTANDARD = LVCMOS33;  # LED_3

#IO PORTs
#NET "PORTA<0>" LOC = "P5"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 1
#NET "PORTA<1>" LOC = "N5"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 2
#NET "PORTA<2>" LOC = "N6"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 3
#NET "PORTA<3>" LOC = "P7"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 4

NET "DAC_CS" LOC = "N5"  | IOSTANDARD = LVCMOS33;  # Pin 2
NET "DAC_SCK" LOC = "N6"  | IOSTANDARD = LVCMOS33;  # Pin 3
NET "DAC_SDI" LOC = "P7"  | IOSTANDARD = LVCMOS33;  # Pin 4

#NET "PORTA<4>" LOC = "P12" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 5
#NET "PORTA<5>" LOC = "N12" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 6
#NET "PORTA<6>" LOC = "L14" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 7
#NET "PORTA<7>" LOC = "L13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 8
#NET "PORTB<0>" LOC = "K14" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 9
#NET "PORTB<1>" LOC = "K13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 10
#NET "PORTB<2>" LOC = "J14" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 11
#NET "PORTB<3>" LOC = "J13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 12
#NET "PORTB<4>" LOC = "H14" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 13
#NET "PORTB<5>" LOC = "H13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 14
#NET "PORTB<6>" LOC = "F14" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 15
#NET "PORTB<7>" LOC = "F13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 16
#NET "PORTC<0>" LOC = "G14" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 17
#NET "PORTC<1>" LOC = "G13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 18
#NET "PORTC<2>" LOC = "E14" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 19
#NET "PORTC<3>" LOC = "E13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 20
#NET "PORTC<4>" LOC = "D14" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 21
#NET "PORTC<5>" LOC = "D13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 22
#NET "PORTC<6>" LOC = "C13" | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 23

#NET "PORTD<0>" LOC = "A3"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 26
#NET "PORTD<1>" LOC = "B3"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 27
#NET "PORTD<2>" LOC = "A2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 28
#NET "PORTD<3>" LOC = "B1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 29
#NET "PORTD<4>" LOC = "C1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 30
#NET "PORTD<5>" LOC = "D1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 31
#NET "PORTD<6>" LOC = "D2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 32
#NET "PORTD<7>" LOC = "E1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 33
#NET "PORTE<0>" LOC = "E2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 34
#NET "PORTE<1>" LOC = "F1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 35
#NET "PORTE<2>" LOC = "F2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 36
#NET "PORTE<3>" LOC = "H1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 37
#NET "PORTE<4>" LOC = "H2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 38
#NET "PORTE<5>" LOC = "G1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 39
#NET "PORTE<6>" LOC = "G2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 40
#NET "PORTE<7>" LOC = "J1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 41
#NET "PORTF<0>" LOC = "J2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 42
#NET "PORTF<1>" LOC = "K1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 43
#NET "PORTF<2>" LOC = "K2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 44
#NET "PORTF<3>" LOC = "L1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 45
#NET "PORTF<4>" LOC = "L2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 46
#NET "PORTF<5>" LOC = "M1"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 47

NET "EN" LOC = "G2"  | IOSTANDARD = LVCMOS33;  # Pin 40
NET "ADC_SDO" LOC = "J1"  | IOSTANDARD = LVCMOS33;  # Pin 41
NET "ADC_SCK" LOC = "L2"  | IOSTANDARD = LVCMOS33;  # Pin 46
NET "ADC_CS" LOC = "M1"  | IOSTANDARD = LVCMOS33;  # Pin 47

#NET "PORTF<6>" LOC = "M2"  | IOSTANDARD = LVCMOS33 | PULLUP;  # Pin 48


